@charset "UTF-8";
/* La unica solución que encontré para sacar el subrayado hipervínculo */
a {
  text-decoration: none !important;
  color: black !important;
}

/* Header */
header {
  background-color: rgb(124, 252, 124);
  width: 100% !important;
  height: 120px;
  z-index: 1 !important;
}

/* Tambien la unica solución que encontré para sacar el pixel que quedó entre la navbar y el body */
body {
  margin: 0px;
  padding: 0px;
  background-image: url(../assets/fondoprueba.PNG);
  background-size: 30rem;
}

/* Navbar */
.navbar {
  background-color: rgb(124, 252, 124) !important;
  border: 1px solid black !important;
  width: 100% !important;
  z-index: 1 !important;
}

.nav-link:hover {
  color: #00c3ff !important;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
}

.navbar li {
  background-color: rgb(124, 252, 124);
}

.navbar li:hover {
  transform: scale(1.1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Pagina inicio desktop*/
#titulo-inicio, #titulo-contacto, #titulo-faq, #titulo-ofertas, #titulo-productos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#titulo-inicio h1, #titulo-contacto h1, #titulo-faq h1, #titulo-ofertas h1, #titulo-productos h1 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 50px !important;
}

#container-logo {
  width: 415px !important;
}

#logo-inicio {
  background-color: black;
  width: 400px !important;
  height: 400px !important;
  border-radius: 8px;
}

#linea-divisoria-h {
  border-top: 1px solid black !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

#linea-divisoria-h-mobile {
  display: none;
  border-top: 1px solid black !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.horarios-div {
  display: flex;
  justify-content: center;
}

.horarios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 243, 152, 0.767);
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 120px;
}

.horarios-container h2 {
  font-family: "Roboto Slab", serif;
  font-style: bold;
  font-size: 30px;
  text-decoration: underline !important;
}

.horarios p {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-size: 15px;
}

.titulo-quienes-somos {
  display: flex;
  justify-content: center;
}

.titulo-quienes-somos h3 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 30px;
}

.row {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.col-sm-3, .col-sm-5 {
  display: flex;
  margin-right: 5rem;
  border: 1px solid lightslategray;
  border-radius: 8px;
  background-color: rgba(250, 243, 152, 0.767);
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  width: 350px !important;
  height: 420px !important;
  text-align: center;
  font-size: 26px;
  margin-bottom: 200px;
  margin-right: 2.5rem;
}

#linea-divisoria-v {
  width: 1px !important;
  padding: 0px !important;
  border-left: 1px solid black !important;
  height: 500px !important;
}

.col-sm-5 {
  width: 600px !important;
  height: 350px !important;
  margin-right: 0px;
  margin-left: 2.5rem;
}

/* Pagina productos */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container-buscador-y-productos {
  display: flex;
  justify-content: space-evenly;
}

#buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  margin-top: 50px;
  border-radius: 5px;
}

#buscador h2 {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

#buscador input[type=text] {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 50px;
}

#categorias-btn {
  width: 200px;
}

.dropdown-menu {
  width: 200px;
  z-index: 0 !important;
}

.dropdown-menu a:hover {
  color: #00c3ff !important;
}

.dropdown-item {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-decoration: none;
}

#buscador h3 {
  text-decoration: underline;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(2, 150px);
  grid-template-areas: "producto1 producto2 producto3 producto4" "producto5 producto6 producto7 producto8" "producto9 producto10 producto11 producto12" "producto13 producto14 producto15 producto16";
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.producto p {
  margin: 0px;
  font-weight: bold;
}

.producto img {
  width: 80px;
  height: 80px;
}

.button-agregar-carrito {
  width: 120px;
  height: 30px;
  background-color: rgb(255, 88, 88);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  text-align: center;
}

.button-agregar-carrito:hover {
  background-color: rgb(243, 52, 52);
  transition: 0.5s;
}

.button-agregar-carrito:active {
  transform: scale(1.05);
}

/* Pagina ofertas */
.titulo-ofertas h1 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 50px !important;
}

.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(2, 150px);
  grid-template-areas: "oferta1 oferta2 oferta3 oferta4" "oferta5 oferta6 oferta7 oferta8" "oferta9 oferta10";
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oferta p {
  margin: 0px;
}

.oferta-precio-anterior {
  text-decoration: line-through;
  color: red;
  font-size: 15px;
  margin: 0px;
}

.oferta-precio-nuevo {
  font-size: 20px;
  margin: 0px;
}

.oferta img {
  width: 80px;
  height: 80px;
}

/* Pagina FAQ */
.container-faq, .faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 200px;
}

.faq {
  text-align: center;
  border: 1px solid black;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: lightblue;
}

#faq:hover {
  transform: scale(1.05) !important;
}

#faq:hover span {
  text-decoration: underline;
}

#faq-2:hover {
  transform: scale(1.05) !important;
}

.faq span {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 25px;
}

.faq p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
}

.faq a {
  text-decoration: underline !important;
  color: blue !important;
}

/* Pagina contacto */
.container-contactos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.container-contactos span {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 25px;
}

.container-contacto-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15rem;
}

.container-contacto-1 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-nombre, .form-email, .form-mensaje {
  height: 50px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 300px !important;
}

.form-mensaje {
  height: 10rem !important;
}

#btn-enviar {
  background-color: rgb(255, 88, 88);
  border: 1px solid black;
  margin-top: 20px;
  width: 5rem;
  color: white;
}

#btn-enviar:hover {
  background-color: rgb(243, 52, 52);
}

.container-contacto-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-top: 30px;
  margin-left: 5rem;
  margin-right: 20px;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgba(250, 243, 152, 0.767);
  margin: 20px;
}

.contacto h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 30px;
}

.contacto p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
}

.container-ubicacion, .ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
}

.ubicacion { /*el iframe no me deja cambiar la altura y no lo pude solucionar*/
  margin-top: 50px;
  height: 800px;
  width: 800px;
  border: 1px solid black;
  background-color: rgba(250, 243, 152, 0.767);
  margin-bottom: 200px;
}

.ubicacion span {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 30px;
}

.ubicacion p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
}

/* Footer */
footer {
  display: flex;
  position: fixed;
  bottom: 0 !important;
  background-color: rgb(124, 252, 124);
  width: 100%;
  height: 100px;
  border: 1px solid black;
  z-index: 1 !important;
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin-right: 50px;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.redes:hover {
  transform: scale(1.05);
}

.redes-logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1200px) { /* media xl */
  /* Pagina inicio xl*/
  #linea-divisoria-v {
    display: block;
    width: 1px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .col-sm-3, .col-sm-5 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .col-sm-5 {
    margin-left: 0px;
    margin-bottom: 200px;
  }
  #linea-divisoria-h-mobile {
    display: none;
    width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .titulo-inicio h1 {
    font-size: 30px !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .titulo-inicio {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
  }
  #container-logo {
    display: flex;
    justify-content: center !important;
  }
  #logo-inicio {
    width: 200px !important;
    height: 200px !important;
  }
  .horarios-container {
    width: 350px;
    height: 150px;
    text-align: center;
  }
  #linea-divisoria-h {
    width: 40rem;
  }
  .col-sm-5 {
    width: 350px !important;
    height: 600px !important;
  }
  /* pagina productos xl */
  .container-buscador-y-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #buscador {
    width: 300px;
    height: 200px;
    margin-top: 50px;
  }
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: "producto1 producto2" "producto3 producto4" "producto5 producto6" "producto7 producto8" "producto9 producto10" "producto11 producto12" "producto13 producto14" "producto15 producto16";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina ofertas xl */
  .ofertas-grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: "oferta1 oferta2 oferta3" "oferta4 oferta5 oferta6" "oferta7 oferta8 oferta9" "oferta10 oferta11 oferta12" "oferta13 oferta14 oferta15" "oferta16";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina faq xl */
  .faq {
    width: 900px;
  }
  /* pagina contacto xl */
  .container-contacto-1 {
    margin-right: 10px;
    width: 400px;
  }
  .container-contacto-2 {
    margin-left: 10px;
    width: 400px;
  }
}
@media screen and (max-width: 768px) { /* media lg */
  /* Pagina inicio lg*/
  #linea-divisoria-v {
    display: none;
  }
  #linea-divisoria-h-mobile {
    display: block;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 540px;
  }
  .horarios-container {
    width: 20rem;
  }
  .col-sm-3, .col-sm-5 {
    width: 20rem;
  }
  .col-sm-5 {
    width: 20rem;
  }
  /* pagina productos lg */
  .container-buscador-y-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(8, 200px);
    grid-template-areas: "producto1 producto2" "producto3 producto4" "producto5 producto6" "producto7 producto8" "producto9 producto10" "producto11 producto12" "producto13 producto14" "producto15 producto16";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina ofertas lg */
  .ofertas-grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(8, 150px);
    grid-template-areas: "oferta1 oferta2" "oferta3 oferta4" "oferta5 oferta6" "oferta7 oferta8" "oferta9 oferta10" "oferta11 oferta12" "oferta13 oferta14" "oferta15 oferta16";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina faq lg */
  .faq {
    width: 600px;
  }
  /* pagina contacto lg */
  .ubicacion {
    width: 600px;
    height: 600px;
  }
}
@media screen and (max-width: 576px) { /* media sm */
  /* Pagina inicio sm*/
  #linea-divisoria-h {
    width: 20rem;
  }
  #linea-divisoria-h-mobile {
    width: 400px;
  }
  /* pagina productos sm */
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(16, 200px);
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "producto7" "producto8" "producto9" "producto10" "producto11" "producto12" "producto13" "producto14" "producto15" "producto16";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina ofertas sm */
  .ofertas-grid {
    display: grid;
    grid-template-columns: repeat(1, 150px);
    grid-template-rows: repeat(10, 150px);
    grid-template-areas: "oferta1" "oferta2" "oferta3" "oferta4" "oferta5" "oferta6" "oferta7" "oferta8" "oferta9" "oferta10";
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }
  /* pagina faq sm */
  .faq {
    width: 300px;
  }
  /* pagina contacto sm */
  .container-contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container-contacto-1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15rem;
  }
  .container-contacto-2 {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: 300px;
    margin-bottom: 15rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 200px;
  }
  .contacto {
    width: 300px;
  }
  .container-ubicacion, .ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 0px;
  }
  .ubicacion {
    width: 400px;
    height: 400px;
  }
  .ubicacion iframe {
    width: 200px;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
